@font-face {
    font-family: "custom";
    src: url('./Super\ Earthly.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: blue;
    font-size: 1.5rem;
    font-family: 'custom';
    background-color: black;
    /*background-image: url('../asset/montagnes.jpg');*/
}

header {
    color: black;
    background-color: brown;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 78vh;
    background-color: brown;
    position: fixed;
    top: 21vh;
    margin-left: 1vh;
    z-index: 17;
    left: calc(-20vw - 1vh);
    transition: left 1s;
    
    
}

main {
    position: relative;
    top : 20vh;
}

h1, h2 {
    width: fit-content;
}

#e2c {
    height: 100%;
}

#titres {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-right: 10%;
}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.068);
    padding: 35px;
    margin: 35px;
    border: rgb(65, 16, 16) solid 2px;
}

ul {
    margin-left: 20px;
}

#imag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100vw;
    background-image: url('../asset/library.png');
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 1904/640;
    background-attachment: fixed;
    background-position-y: 15vh;
}

#imag>h2 {
    font-size: 3rem;
    padding-right: 5vw;
    color: black;
}

.bouton {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    color: blue;
    background-color: black;
    border: solid black 2px;
    border-radius: 2.5vh;
    text-align: center;
    padding-top: 7px;
   /*box-shadow: black 2px 2px 5px 0;*/
    transition: background-color 1000ms, color 100ms, border 2000ms;
}

.bouton:hover {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    color: black;
    background-color: blue;
    border: solid blue 2px;
    border-radius: 2.5vh;
    text-align: center;
    padding-top: 7px;
    /*box-shadow: 0 0 2px 0;*/
}

#trigger {
    position: fixed;
    top: 22vh;
    width: 7vh;
    aspect-ratio: 1;
    background-color: brown;
    border: solid 1px black;
    border-radius: 0 10 10px 0;
    background-image: url(../asset/menus.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: left 1s;
}

#close {
    display: none;
    position: relative;
    top: -7vh;
    left: 40%;
    width: 7vh;
    aspect-ratio: 1;
    background-color: brown;
    border: solid 2px black;
    border-radius: 5px;
    background-image: url(../asset/croix_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}