@font-face {
    font-family: "custom";
    src: url('./Super\ Earthly.ttf');
}
body {
    color: blue;
    font-size: 1.5rem;
    font-family: 'custom';
    background-color: black;
    /*background-image: url('../asset/montagnes.jpg');*/
}

header {
    color: black;
    background-color: brown;
}
